
body {
	font-family: 'Oxygen', sans-serif;
}
.cart-header {
	width: 400px;
	margin: 0 auto;
}
img {
	height: 50px;
	width: 50px;
}
h1 {
	width: 400px;
	height: 50px;
}
.cart-image {
	float: left;
}
.cart-container {

}
.col {
	
	list-style: none;
	color: white;
	background-color: black;
	font-weight: bold;
	font-size: 17px;
}
.col-container{
	border-bottom: 2px solid black;
}

li {
	display: inline;
	margin: 50px;
}
.col-one {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 86px;
	margin-right: 305px;
}
.items-container {
height: 44px;
border-bottom: 2px solid black;
	
}
.buttons {
height: 32px;
}
a {
	text-decoration: none;
}
.button-container {
	height: 30px;
	
}
.input-container {
	text-align: center;
}
.description {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.quantity {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 80px;
	margin-right: 110px;
}
button {
	background-color: black;
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px;
	
}
.add {
	color: white;
	font-weight: bold;

}
button:hover, a:hover{
	color: black;
	background-color: gray;
	cursor: pointer;
}
.totals-container {
	font-weight: bold;
	font-size: 20px;
	width: 100%;
	text-align: center;
}
.subtotal {
	margin: 10px 430px;

	width: 1000px;
}

.tax {

	margin: 10px 430px;
	width: 1000px;
	
}
.column {
	
	margin: 10px 5px;
}
.subtotal-total {
	margin: 10px 20px;
}
.tax-total {
	margin: 10px 20px;
}
.purchase-price {
	margin: 10px 402px;
	width: 1000px;
}
.purchase-column {
	margin: 10px 5px;
	color: red;
}
.purchase-total {
	margin: 10px 20px;

}
.checkout {
	margin: 10px 430px;
	width: 1000px;
}
.checkout-button {
	margin: 10px 5px;
}
.checkout-link {
	color: white;
	font-weight: bold;
}