
body {
	font-family: 'Oxygen', sans-serif;
}
.cart-header {
	width: 400px;
	margin: 0 auto;
}
img {
	height: 50px;
	width: 50px;
}
h1 {
	width: 400px;
	height: 50px;
}
.cart-image {
	float: left;
}
.cart-container {

}
.col {
	
	list-style: none;
	color: white;
	background-color: black;
	font-weight: bold;
}
.col-container{
	border-bottom: 2px solid black;
}

li {
	display: inline;
	margin: 50px;
}
.col-one {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 100px;
	margin-right: 298px;
}
.items-container {
height: 44px;
border-bottom: 2px solid black;
	
}
.buttons {

height: 32px;
}
a {
	text-decoration: none;
}
.button-container {
	height: 30px;
	
}
.input-container {
	text-align: center;
}
.description {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.quantity {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 80px;
	margin-right: 110px;
}
